<%= form_for(@kanji) do |f| %>
  <% if @kanji.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kanji.errors.count, "error") %> prohibited this kanji from being saved:</h2>

      <ul>
      <% @kanji.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_field :text ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :mean %><br>
    <%= f.text_field :mean ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :other_mean %><br>
    <%= f.text_field :other_mean ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :kun %><br>
    <%= f.text_field :kun ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :on %><br>
    <%= f.text_field :on ,class:"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Create Kanjis" ,class:"btn btn-default"%>
  </div>
<% end %>
