<%= form_for(@user_log) do |f| %>
  <% if @user_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_log.errors.count, "error") %> prohibited this user_log from being saved:</h2>

      <ul>
      <% @user_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_field :content ,class:"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Create Logs" ,class:"btn btn-default"%>
  </div>
<% end %>
