<%= stylesheet_link_tag "social_button.css" %>
<% if user_signed_in? %>
  <% provide :title, "Challenge dashboard" %>

  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
        <% percent = category.percent current_user %>
        <!--<a type="button" class="btn btn-success"><%= category.name %> <span class="badge">30.00%</span></a>   -->
         <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12" title="<%= category.description %>">
          <div class="info-box">
            <div class="info-box-name progress_outer">
              <span><%= category.name %></span>
              <div style="width: <%= percent %>%"></div>
            </div>

            <div class="info-box-content">
              <div><%= link_to "Learn #{category.name} (#{percent}%)", "/learns/word/#{category.name}", class: "btn btn-success" %></div>
              <div class="bold"><%= category.words.count %> words</div>
              <div class="bold"><%= category.kanjis.count %> kanjis</div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      <% end %>
    </div>
  </div>
<% else %>
  <% provide :title, "Wellcome to the Kanji's World" %>
  
  <div style = "height:550px">
    <center><%= button_to "Login with Facebook", user_omniauth_authorize_path( :facebook ),class: "btn-facebook" %><center>
    <center><%= button_to "Login with Twitter", user_omniauth_authorize_path( :twitter ),class: "btn-twitter" %></center>
    <center><%= button_to "Login with Google", user_omniauth_authorize_path(:google_oauth2),class: "btn-google-plus"  %></center>
  </div>

<% end %>