<% provide :title, "Edit #{resource_name.to_s.humanize}" %>

<div class="row">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="col-md-6">
    <%= devise_error_messages! %>
    
    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="form-group">
      <%= f.label :age %><br />
      <%= f.text_field :age %>
    </div>
    
    <div class="form-group">
      <%= f.label :gender %><br />
      <%= f.select :gender, options_for_select(["Male", "Female"], resource.gender || "Male"),class:"form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" ,class:"form-control"%>
  </div>

  <div class="actions">
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger floatr" %>
      <%= f.submit "Update" ,class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
