<% provide :title, "#{@user.name.titleize}'s Profile" %>

<h3>Name: <%= @user.name %></h3>
<h3>Email: <%= @user.email %></h3>
<h3>Age:<%= @user.age %></h3>
<h3>Gender:<%= @user.gender %></h3>
<hr>
<% if @is_me %>
<% @user.friends.each_with_index do |friend, i| %>
<% if friend.user_id == @user.id %>
<h4> <%= "#{i+1}. #{User.find(friend.friend_id).name} - #{@user.status_with(friend.friend_id).to_s}" %></h4>
<% else %>
<h4> <%= "#{i+1}. #{User.find(friend.user_id).name} - #{@user.status_with(friend.user_id).to_s}" %></h4>
<%end%>
<% end %>
<% else %>
<% case @status %>
<% when :nothing %>
<%= form_tag "/friends", method: :post do %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :friend_id, @user.id %>
  <%= submit_tag " Request" %>
<% end %>
<% when :requested%>
<h4> Requested</h4>
<%= form_tag "/friends/#{@friend.id}", method: :delete  do %>
  <%= hidden_field_tag :id, @friend.id %>
  <%= hidden_field_tag :friend_id, @user.id %> 
  <%= submit_tag "Remove request" %>
<% end %>
<% when :be_requested%>
<h4>Be Requested</h4>
<%= form_tag "/friends/#{@friend.id}", method: :put  do %>
  <%= hidden_field_tag :id, @friend.id %>
  <%= hidden_field_tag :friend_id, @user.id%>
  <%= submit_tag "Accept" %>
<% end %>
<%= form_tag "/friends/#{@friend.id}", method: :delete  do %>
  <%= hidden_field_tag :id, @friend.id %>
  <%= hidden_field_tag :friend_id, @user.id %>
  <%= submit_tag "Reject" %>
<% end %>
<% when :be_accepted,:accepted %>
<h4>Friend</h4>
<%= form_tag "/friends/#{@friend.id}", method: :delete  do %>
  <%= hidden_field_tag :id, @friend.id %>
  <%= hidden_field_tag :friend_id, @user.id %>
  <%= submit_tag "Unfriend" %>
<% end %> 
<%end %>
<% end %>