<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :test_id %><br>
    <%= f.text_field :test_id ,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :order %><br>
    <%= f.number_field :order ,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :answer_id %><br>
    <%= f.text_field :answer_id ,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :correct %><br>
    <%= f.check_box :correct ,class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Results" ,class:"btn btn-default"%>
  </div>
<% end %>
