<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_field :text ,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :order %><br>
    <%= f.number_field :order ,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :kanji_id %><br>
    <%= f.text_field :kanji_id ,class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Characters" ,class:"btn btn-default"%>
  </div>
<% end %>
