<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @character.text %>
</p>

<p>
  <strong>Order:</strong>
  <%= @character.order %>
</p>

<p>
  <strong>Kanji:</strong>
  <%= @character.kanji %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
