<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_field :text ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :mean %><br>
    <%= f.text_field :mean ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :pronounce %><br>
    <%= f.text_field :pronounce ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id ,class:"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Create Words" ,class:"btn btn-default"%>
  </div>
<% end %>
