<p id="notice"><%= notice %></p>

<p>
  <strong><%= Goal.human_attribute_name("goal") %>:</strong>
  <%= @goal.goal %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal.deadline %>
</p>

##############<br>
Learned words: <%= current_user.learned_word %><br>
Remain words: <%= @goal.remain_word %><br>
Day left: <%= @goal.day_left %><br>
You have to learn about <%= @goal.word_average %> words each day to complete your goal<br>
#<br>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= line_chart @goal_data, library: {curveType: "none", pointSize: 0} %>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
