<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/includeheader" %>
</head>
<body>
  <div class="container2">
    <% if user_signed_in? %>
	  <div class="container-shadow">
      <%= render "layouts/header" %>
    </div>
    <% end %>
  
    <div class="title-bar description width no-banner">
      <h3><%= yield :title %></h3>
			 <%= yield :title_bar %>
		</div>
		
    <div id="content" class="page width">
      <%= yield %>
    </div>
    
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
