<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/includeheader" %>
</head>
<body>
  <div class="container2">
	  <div class="container-shadow">
      <%= render "layouts/header" %>
    </div>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type == "notice" ? :success : message_type %>" style="margin-top: 30px" ><button type="button floatr" class="close" data-dismiss="alert">&times;</button> <%= message %></div>
      <% end %>
    </div>
  
    <%= yield %>
  </div>
</body>
</html>
